.w-10{
    width: 10%;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.icon-action{
    cursor: pointer;
    color: #0d6efd;
}

.t-a-r{
    text-align: right;
}

.t-a-l{
    text-align: left;
}

.t-a-c{
    text-align: center;
}

.ml-10{
    margin-left: 10px;
}